.produto img {
    margin-right: 200px; 
}

.preço {
    font-size: 24pt;
    margin: 0;
}

body{
    background-color: rgb(143, 236, 151)
}

.topo {
    background-color: rgb(0, 47, 47);
}

.topo h1 {
    margin-left: 20px;
    font-size: 50pt;
    font-family:Impact;
    color: rgb(230, 230, 230)
}

.topo h2 {
    margin-left: 30px; 
    color: rgb(230, 230, 230)
}

.topo h4 {
    margin: 0;
    margin-left: 30px; 
    color: rgb(230, 230, 230)
}

.Sobre {
    text-align: justify;
    font-size: 14pt;
}